body
{
    background-color: lightblue;
}
h1{
    text-align:center;
    color:black;
}
.topnav {
    background-color: white;
    overflow: hidden;

}
h2{
    color:white;
    text-align:center;
    font-size:30px;
}
.topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
        text-decoration: none;
 }
img {
    float:left;
    margin: 10px;
}
.jenn {
    display: flex;
    flex-direction: row
   
}
p{
   float:left;
   font-size:40px;
}
#about {
    color: white;
}
#abouttext{
    text-align:center;
    font-size:25px;
}
#projecttext{
    color:white;
}
#skillsettext{
    color:white;
}
#desc{
    font-size:20px;
    text-align:center;
}
.imgskill{
    align-content:center;

}
.imgabout{
    align-content:center;
}

